@import "../../assets/styles/animations.scss";
@font-face {
  font-family: neon;
  src: url("../../assets/fonts/NEON.TTF");
}

.landing {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 2vw;
}



 .bannerName {
  font-size: 8vw;
  color: rgb(255,102,153);
  font-family: neon;
  align-items: center;
  justify-content: center;
  display: flex;
  // opacity: 0;
  animation:  flicker 0.5s ease-in 2;

}

.landingContainer {
  animation:fadeIn 3s;
  // background-color: red
  position: relative;
  width: 50vw;
  height: 50vw;
  max-height: 50vh;

}

 span.bannerName {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0.4vw solid rgb(0,188,212);
  border-radius: 2vw;

}

.landingContainer span.bannerName:nth-child(2) {
  filter: blur(5px);
}

.landingContainer span.bannerName:nth-child(3) {
  filter: blur(10px);
}

.links span.bannerBorder:nth-child(1) {
  filter: blur(20px);


}

.links span.bannerBorder:nth-child(2) {
  filter: blur(30px);
}

.linksContainer{
  position: absolute;
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:flex-end;

}
.links {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
  border-radius: 2vw;
  display: flex;
  justify-content: space-around;
  // margin-top: 20%;
  align-items: center;
  border: 0.4vw solid rgb(0,188,212);
  animation: flicker 0.5s linear 3s 3, delayed-fadeIn 3s ease-in;
  font-size: 2vw;
  .bannerBorder{
    border: 0.4vw solid rgb(0,188,212);
    border-radius: 2vw;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  a {
    // opacity: 0;
    position: relative;
    // font-family: Consolas;
    font-size: 1.5vw;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(0,188,212);
    // filter: blur(0.5px);
    // background-color: rgb(0,188,212);
    // width: 10%;
    // min-width : 20px;
    // min-height:  20px;
    // height: 1vw;
    // box-shadow: 0 0 10px rgb(0,188,212), 0 0 20px rgb(0,188,212), 0 0 30px rgb(0,188,212), 0 0 40px rgb(0,188,212);
    padding: 1.5%;
    overflow: hidden;
  }

  a:hover {
    background: rgb(0,188,212);
    color: #282c34;
    box-shadow: 0 0 10px rgb(0,188,212), 0 0 20px rgb(0,188,212);
    transition: 0.2s;
    transition-delay: 1.6s;
  }

   a:nth-child(1){
    // background: red
    animation: flicker 0.3s linear 4 4s
  }

  a:nth-child(2){
   animation: flicker 0.5s linear 3 4s
 }

  a span{
    position: absolute;
    display: block;
  }
  a span:nth-child(1){
    top : 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,rgb(0,188,212));
    // background-color : red
    // animation: flicker 1s linear 5s;

  }
  a:hover span:nth-child(1){
    left: 100%;
    transition: 0.8s;
  }

  a span:nth-child(3){
    // top : 0;
    bottom: 0;
    // right: 100;
    right:  -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,rgb(0,188,212));
    // background-color : red
  }
  a:hover span:nth-child(3){
    right:  100%;
    transition: 0.8s;
    transition-delay: 0.8s
  }

  a span:nth-child(2){
    // top : 0;
    top: -100%;
    // right: 100;
    right:  0;
    height : 100%;
    width: 2px;
    background: linear-gradient(180deg,transparent,rgb(0,188,212));
    // background-color : red
  }
  a:hover span:nth-child(2){
    top:  100%;
    transition: 0.8s;
    transition-delay: 0.4s
  }

  a span:nth-child(4){
    // top : 0;
    bottom: -100%;
    // right: 100;
    left:  0;
    height : 100%;
    width: 2px;
    background: linear-gradient(0deg,transparent,rgb(0,188,212));
    // background-color : red
  }
  a:hover span:nth-child(4){
    bottom: 100%;
    transition: 0.8s;
    transition-delay: 1.2s
  }
}


@media (orientation: portrait) {
  // .links {
  //   background: red
  // }
  //

  .links{
    // margin-top: 20%
    // margin-top: 35%;
    a{
      font-size: 2vw
    }
  }
}
